/* Estilos generales */
div,
img {
  margin: 0;
  padding: 0;
}

em,
strong,
span {
  background-color: #efff08;
}

h1 {
  text-align: center;
  margin-bottom: 20px; /* Reduje el margen para pantallas más pequeñas */
  font-weight: 100;
  font-style: italic;
}

h2 {
  text-align: center;
  text-decoration: underline; /* Corregido el nombre de la propiedad */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div {
  padding: 10px 5px 15px 3px;
}

header {
  padding: 1px;
  margin: auto;
}

main {
  padding: 20px; /* Aumenté el padding para pantallas más grandes */
  margin: auto;
}

h3,
p {
  text-align: center;
  font-family: cursive;
}

h5 {
  text-align: center;
}

#principal {
  font-family: fantasy;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  h1 {
    margin-bottom: 10px; /* Reduje aún más el margen para pantallas pequeñas */
  }

  main {
    padding: 10px; /* Ajusté el padding para pantallas pequeñas */
  }
}